.form-container, .table-container
	display inline-block
	width 40%
	margin 10px

table
	th
	td
		margin 0
		border 1px solid black


.input
	width 75%
	margin auto

.output
	width 75%
	margin auto
	
.matched
	background-color yellow